services:
  mongo:
    image: mongo:6
    container_name: restaurant-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: restaurant-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongo:27017/restaurant-db
      - PORT=8000
      - ADMIN_LOGIN=admin
      - ADMIN_PASSWORD=admin
      - PRIVATE_KEY=dev-secret-keyb
      - PORT=8000
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: restaurant-frontend
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://backend:8000 
    depends_on:
      - backend

volumes:
  mongo-data: {}